{% load i18n %}
{# Generic modal shell filled by JS (app.openModal). #}
<div class="modal fade" id="app-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="app-modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% translate 'إغلاق' %}"></button>
      </div>
      <div class="modal-body" id="app-modal-body"></div>
      <div class="modal-footer" id="app-modal-footer"></div>
    </div>
  </div>
</div>
